#content {
    width:100%;
    background: #141516;;
}
#content .bg{
    width:100%;
    background-color: #141516;
}
#content .bg .hero_top{
    background-color:#1F2021;
    width:1000px;
    height: 115px;
    padding: 0 10px;
    margin: 0 auto;
    overflow: hidden;
    background-image: url(../img/heroes/hero_top_bg.jpg);
}
#content .bg .hero_top .top_tab_ul{
    float: left;
    padding-top: 69px;
    height: 42px;
    /*overflow: hidden;*/
    display: inline-block;
}
#content .bg .hero_top .top_tab_ul>li{
    float: left;
    display: inline-block;
    width: 129px;
    margin-right: 1px;
    background:red;
}
#content .bg .hero_top .top_tab_ul>li>a{
    display: inline-block;
    width: 129px;
    height: 42px;
    text-align: center;
    color: #c0c0c0;
    background: linear-gradient(to bottom,#913333 0% , #892F2E 10% ,#501F1A 100%);
    background:url("../img/heroes/top_tab.jpg");
    background-position: 0 -42px;
    line-height: 40px;
    font-size: 20px;
}
#content .bg .hero_top .top_tab_ul>li>a:hover{
    background-position: 0 0 ;
}
#content .bg .hero_top .top_search{
    float: right;
    width: 248px;
    padding-top: 22px;
}
#content .bg .hero_top .top_search .top_search_help{
    width: 248px;
    padding-top: 10px;
    overflow: hidden;
}
#content .bg .hero_top .top_search .top_search_help .search_inp{
    float: left;
    width: 167px;
    height: 22px;
    padding: 0 5px;
    color: #717779;
    font: normal 12px/22px "宋体";
    background-color: #1a1d1e;
    border: 1px solid #2c2f33;
    border-collapse:collapse;
    /*去掉输入框蓝色边框*/
    outline:medium;
}
#content .bg .hero_top .top_search .top_search_help .search_a{
    width:65px;
    height:25px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius:3px;
    margin-left:10px;
    background: linear-gradient(to bottom,#913333 0% , #892F2E 10% ,#501F1A 100%);
}
#content .bg .hero_top .top_search .top_search_help .btn_col,.btn_err{
    width: 120px;
    height: 30px;
    border: 3px solid #27292b;
    cursor: pointer;
}
#content .bg .hero_top .top_search .top_search_help .btn_col{
    float: left;
    background-image: url("../img/heroes/btn_shoucang-w382.png");
}
#content .bg .hero_top .top_search .top_search_help .btn_err{
    float: right;
    background-image: url(../img/heroes/btn_baocuo.png);
}
/* 所有英雄 */
#content .hero_cont{
    width: 982px;
    height:660px;
    padding: 35px 0 50px;
    min-height: 300px;
    margin: 0 auto;
    background-color: #0f0f0f;
}
#content .hero_cont .hero_cont_info{
    padding: 0 22px;
}
#content .hero_cont .hero_cont_info .tit_box{
    background: #000;
    margin-bottom: 14px;
    padding: 14px 6px;
    border-radius: 5px;
}
#content .hero_cont .hero_cont_info .tit_box .hero_name{
    height: 40px;
    margin-top: 15px;
    text-align: center;
    font: bold 24px/40px "微软雅黑";
    color: #c0c0c0;
}
#content .hero_cont .hero_cont_info .tit_box .hero_roles{
    line-height: 18px;
    text-align: center;
    font-size: 14px;
    padding-top: 2px;
    color: #c4c0c0;
}
#content .hero_cont .hero_cont_info .tit_box .hero_roles .hero_attr{
    color:#fff;
    font:inherit;
}
#content .hero_cont .hero_cont_info .tit_box .hero_roles{
    color: #c4c0c0;
    font:inherit;
}
#content .hero_cont .hero_cont_info .hero_filters{
    text-align: center;
    padding-bottom: 10px;
    color: #999;
}
#content .hero_cont .hero_cont_info .hero_filters select{
    margin-left:40px;
    width: 150px;
    padding: 3px;
    font-size: 12px;
    background: #2a2c2d;
    border-top: 1px solid #363939;
    border-left: 1px solid #363939;
    border-right: 1px solid #1b1e1e;
    border-bottom: 1px solid #1b1e1e;
    color: #999;
    outline: medium;
}
#content .hero_cont .hero_cont_info .hero_show{
    width: 870px;
    margin: 0 auto;
    padding-top: 20px;
}
#content .hero_cont .hero_cont_info .hero_show ul.hero_list{
    width: 278px;
    padding: 0 6px;
    float: left;
}
#content .hero_cont .hero_cont_info .hero_show ul.hero_list>li{
    width: 69px;
    height: 44px;
    float: left;
    position: relative;
}
#content .hero_cont .hero_cont_info .hero_show ul.hero_list>li>a{
    float: left;
    position: relative;
    display: block;
}
#content .hero_cont .hero_cont_info .hero_show .hero_list .hero_list_tit{
    width: 278px;
    height: 42px;
    text-align: center;
}
#content .hero_cont .hero_cont_info .hero_show .hero_list .hero_list_tit>span{
    padding-left: 40px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    font-size: 16px;
    color: #616363;
}
#content .hero_cont .hero_cont_info .hero_show .hero_list .hero_list_tit>span.hero_str{
    background: url(../img/heroes/overviewicon_str-w379.png) no-repeat 0 center;
}
#content .hero_cont .hero_cont_info .hero_show .hero_list .hero_list_tit>span.hero_agi{
    background: url(../img/heroes/overviewicon_agi-w380.png) no-repeat 0 center;
}

#content .hero_cont .hero_cont_info .hero_show .hero_list .hero_list_tit>span.hero_int{
    background: url(../img/heroes/overviewicon_int-w386.png) no-repeat 0 center;
}
#content .hero_cont .hero_cont_info .hero_show .hero_list .hero_hover_lg{
    width: 127px;
    height: 71px;
    border: 4px solid #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 4px 4px #1C1E1E;
    -moz-box-shadow: 0px 0px 4px 4px #1c1e1e;
    -moz-border-radius: 3px;
    box-shadow: 0px 0px 4px 4px #1C1E1E;
    position: absolute;
    top: -19px;
    left: -34px;
    z-index: 3;
}
.hero_hover_lg{display: none;}
#content .hero_cont .hero_cont_info .hero_show .hero_list .hero_hover_sm{
    width: 59px;
    height: 33px;
    border: 4px solid #000;
    border-radius: 3px;
    box-sizing: content-box;
}
/*.hero_cont_info .hero_show .hero_list .hero_hover_sm:hover  .hero_hover_lg{*/
    /*display: inline-block;*/
/*}*/



